export LESS=eFRX
export JAVA_HOME=`/usr/libexec/java_home -v 1.8`
PATH_add $JAVA_HOME/bin
export MAVEN_OPTS="-Xmx1024m -XX:MaxPermSize=1024m"
export VI_CONF=${HOME}/vi2.config
PATH_add $VI_CONF/vi.bin
export VIM_LOCAL_CONF=${PWD}/myvim.rc
export MVN_VER=323
export GIT_HOOKS_DIR=${HOME}/vi2.config/git_hooks
export GIT_USER_NAME="rootid23"
export GIT_USER_EMAIL="rootid23@gmail.com"
export RALLY_US="master"

PATH_add $HOME/clang-fmt/clang+llvm-4.0.0-x86_64-apple-darwin/bin
PATH_add $PWD/bin
export VI_CONF=${HOME}/vi2.config
